/////// COLORS ////////
$black: #282d2f;
$gray-75: #5a6062;
$gray-50: #8d9394;
$gray-25: #bfc5c7;
$gray-15: #d4dadc;
$gray-5: #e8eef0;
$white: #f2f8fa;
$primary: #00a8d2;
// Text Colors //
$text-black: #4b5255;

/////// TYPOGRAPHY ////////
$fira-sans: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;

$oxygen: 'Oxygen', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;

$bold: 700;
$regular: 400;

$large-heading: 4rem;
$large-subheading: 3.5rem;
$case-title: 3.25rem;
$case-subtitle: 2.5rem;
$section-title: 2.5rem;
$section-subtitle: 2rem;
$subsection: 1.25rem;

$case-link: 1.5rem;
$body: 1.125rem;
